IMG_8030.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8032.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8034.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8011.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8013.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8036.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8005.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8023.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8021.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8027.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8037.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8038.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8015.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8018.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8017.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8019.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8028.MOV filter=lfs diff=lfs merge=lfs -text
IMG_3060.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8010.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8020.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8022.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8024.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8031.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8008.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8016.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8025.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8035.MOV filter=lfs diff=lfs merge=lfs -text
IMG_3070.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8009.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8012.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8026.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8006.MOV filter=lfs diff=lfs merge=lfs -text
IMG_8007.MOV filter=lfs diff=lfs merge=lfs -text
